img{
    width:50%;
}

.menu{
    list-style: none;
    position:absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    text-align: left;
}

.links {
    float: left;
    color: fuchsia;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}