body {
    margin: 0;
    padding-top: 46.8%;
}



#welcome {
    text-align: center;
    position: absolute;
    height: 500px;
    color: darkslateblue;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(orange 0%,white 50%, green 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    
}



h1 {

    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;

}

#name {
    font-size: 50px;
    line-height: 1.2;
}


.parallax-inner {

    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}


.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    
}



.links {
    float: left;
    color: fuchsia;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}
#members{
    text-align: left;
}
h2{
    text-align: center;
}

.links:hover {
    background-color: aqua;
}

html {
    scroll-behavior: smooth;
}


hr{
    height:2px;
    color:black;
}

ul{
    list-style: none;
    font-size: large;
    text-align: center;
}